---
import Layout from "@layouts/Layout.astro";
import imgLG from "../../assets/florecitas-lg.webp";
import imgMD from "../../assets/florecitas-md.webp";
import imgSM from "../../assets/florecitas-sm.webp";
import imgXS from "../../assets/florecitas-xs.webp";
import invitationEnvelopImgLG from "../../assets/invitationEnvelop-lg.webp";
import invitationEnvelopImgMD from "../../assets/invitationEnvelop-md.webp";
import invitationEnvelopImgSM from "../../assets/invitationEnvelop-sm.webp";
import invitationEnvelopImg from "../../assets/invitationEnvelop.webp";

const id = Astro.params.id;
---

<Layout title="Boda Rocío y Javi">
  <main class="h-screen flex flex-col justify-center items-center p-5 relative">
    <a href=`/${id}/invitacion` data-astro-prefetch>
      <picture>
        <source srcset=`${invitationEnvelopImgSM.src}` media="(max-width: 360px)" width=`${invitationEnvelopImgSM.width}` height=`${invitationEnvelopImgSM.height}` />
        <source srcset=`${invitationEnvelopImgMD.src}` media="(max-width: 720px)" width=`${invitationEnvelopImgMD.width}` height=`${invitationEnvelopImgMD.height}` />
        <source srcset=`${invitationEnvelopImgLG.src}` media="(max-width: 1600px)" width=`${invitationEnvelopImgLG.width}` height=`${invitationEnvelopImgLG.height}` />
        <img src=`${invitationEnvelopImg.src}` alt="Sobre de invitación de boda" width=`${invitationEnvelopImg.width}` height=`${invitationEnvelopImg.height}` class="w-auto max-h-screen mx-auto">
      </picture>
    </a>
  </main>
  <Fragment slot="head">
    <link rel="prefetch" href={imgXS.src} media="(max-width: 420px)" as="image" />
    <link rel="prefetch" href={imgSM.src} media="(max-width: 640px)" as="image" />
    <link rel="prefetch" href={imgMD.src} media="(max-width: 768px)" as="image" />
    <link rel="prefetch" href={imgLG.src} media="(min-width: 769px)" as="image" />
  </Fragment>
</Layout>
