---
import { stops } from "@domain/Guest";
import type { Guest } from "@domain/Guest/model";
import { arrayFrom } from "@utils";
import Field from "./Field.astro";

export interface Props {
	guest: Guest;
}

const guest = Astro.props.guest;
---

<div
  x-bind:class="shown ? 'opacity-1' : 'opacity-0'"
  class="bg-white p-6 shadow-md rounded-md w-full max-w-screen-md transition-all ease-in-out delay-100 duration-700"
>
  <h3 class="text-xl mb-4 text-center w-full">Confirma tus datos</h3>
  <form
    class="text-left"
    x-data={`{guestWantsBus: ${guest.bus}, confirmed: ${!!guest.confirmedAttendees}}`}
    hx-patch={`/${guest.uuid}/api/confirm`}
    hx-target="#confirmation-message"
  >
    <!-- Asistentes -->
    <Field>
      <label for="confirmedAttendees" class="font-bold">Asistentes:</label>
      <select
        id="confirmedAttendees"
        name="confirmedAttendees"
        class="border rounded-md px-4 py-2 border-gray-300 bg-white"
        required
        oninvalid="this.setCustomValidity('Debes seleccionar el numero de asistentes')"
        oninput="this.setCustomValidity('')"
        x-on:change={`
          confirmed = $event.target.value > 0;
        `}
      >
        <option
          hidden
          disabled
          selected={guest.confirmedAttendees === null}
          value=""></option>
        <option selected={guest.confirmedAttendees === 0} value={0}>
          No asistiré
        </option>
        {
          arrayFrom(guest.expectedAttendees).map((numAttendees) => (
            <option
              selected={guest.confirmedAttendees === numAttendees}
              value={numAttendees}
            >
              {numAttendees}
            </option>
          ))
        }
      </select>
    </Field>
    <!-- Alergias -->
    <div x-show="confirmed" x-collapse>
      <Field>
        <label for="allergies" class="font-bold">Alergias:</label>
        <input
          id="allergies"
          name="allergies"
          class="border rounded-md px-4 py-2 border-gray-300"
          value={guest.allergies}
        />
      </Field>
      <!-- Bus -->
      <Field>
        <label for="bus" class="font-bold"
          >Quieres autobus?:
          <input
            id="bus"
            name="bus"
            type="checkbox"
            checked={guest.bus}
            x-on:change={`
              guestWantsBus = $event.target.checked;
              $refs.busStop.setCustomValidity('');
              $refs.busSeats.setCustomValidity('');
            `}
          />
        </label>
      </Field>
      <!-- Parada -->
      <fieldset
        class="grid grid-cols-2 space-x-2"
        x-show="guestWantsBus"
        x-collapse
      >
        <Field>
          <label for="busStop" class="font-bold">Parada:</label>
          <select
            id="busStop"
            name="busStop"
            class="border rounded-md px-4 py-2 border-gray-300 bg-white"
            x-ref="busStop"
            :required="guestWantsBus"
            oninvalid="this.setCustomValidity('Si quieres autobus, debes seleccionar una parada')"
            oninput="this.setCustomValidity('')"
          >
            <option hidden disabled selected={!guest.busStop} value=""></option>
            {
              stops.map((busStop) => (
                <option selected={guest.busStop === busStop} value={busStop}>
                  {busStop}
                </option>
              ))
            }
          </select>
        </Field>
        <!-- Asientos -->
        <Field>
          <label for="busSeats" class="font-bold">Asientos:</label>
          <select
            id="busSeats"
            name="busSeats"
            class="border rounded-md px-4 py-2 border-gray-300 bg-white"
            x-ref="busSeats"
            :required="guestWantsBus"
            oninvalid="this.setCustomValidity('Si quieres autobus, debes seleccionar el numero de asientos')"
            oninput="this.setCustomValidity('')"
          >
            <option hidden disabled selected={!guest.busSeats} value=""
            ></option>
            {
              arrayFrom(guest.expectedAttendees).map((numAttendees) => (
                <option
                  selected={guest.busSeats === numAttendees}
                  value={numAttendees}
                >
                  {numAttendees}
                </option>
              ))
            }
          </select>
        </Field>
      </fieldset>
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md w-full mt-2"
    >
      <span id="guest-submit">
        {!guest.confirmedAttendees ? "Confirmar" : "Actualizar"}
      </span>
    </button>
  </form>
  <div id="confirmation-message"></div>
</div>
