---
import type { Guest } from '@repository/model';
const guests = Astro.props.guests as Guest[];
---
  <div class="w-full overflow-x-auto">
    <table class="table-auto w-full mb-4">
      <thead>
        <tr>
          <th class="border px-4 py-2">Name</th>
          <th class="border px-4 py-2">Asistentes Esperados</th>
          <th class="border px-4 py-2">Asistentes Confirmados</th>
          <th class="border px-4 py-2">Autobus</th>
          <th class="border px-4 py-2">Alergias</th>
          <th class="border px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {guests.map(guest => (
          <tr>
            <td class="border px-4 py-2">{guest.name}</td>
            <td class="border px-4 py-2">{guest.expected_attendees}</td>
            <td class="border px-4 py-2">{guest.confirmed_attendees}</td>
            <td class="border px-4 py-2">{guest.bus ? "SI" : "NO"}</td>
            <td class="border px-4 py-2">{guest.allergies}</td>
            <td class="border px-4 py-2">
              <a href="#" hx-delete={`/admin/api/delete/${guest.id}`} hx-target="#guest-list" class="text-red-500">Delete</a>
            </td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>
