---
import type { Guest } from '@models/guest';
const guests = Astro.props.guests as Guest[];
---
  <table class="table-auto w-full mb-4">
    <thead>
      <tr>
        <th class="border px-4 py-2">Name</th>
        <th class="border px-4 py-2">Asistentes Esperados</th>
        <th class="border px-4 py-2">Asistentes Confirmados</th>
        <th class="border px-4 py-2">Autobus</th>
        <th class="border px-4 py-2">Alergias</th>
        <th class="border px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      {guests.map(guest => (
        <tr>
          <td class="border px-4 py-2">{guest.name}</td>
          <td class="border px-4 py-2">{guest.expectedAttendees}</td>
          <td class="border px-4 py-2">{guest.confirmedAttendees}</td>
          <td class="border px-4 py-2">{guest.bus ? "SI" : "NO"}</td>
          <td class="border px-4 py-2">{guest.allergies}</td>
          <td class="border px-4 py-2">
            <a href="#" hx-delete={`/admin/api/delete/${guest.id}`} hx-target="#guest-list" class="text-red-500">Delete</a>
          </td>
        </tr>
      ))}
    </tbody>
  </table>
  <form hx-post="/admin/api/add" hx-target="#guest-list">
    <div class="flex space-x-2 mb-4">
      <input type="text" name="name" placeholder="Name" class="border px-4 py-2 w-full" required />
      <input type="number" name="expectedAttendees" placeholder="Expected Attendees" class="border px-4 py-2 w-full" required />
      <button type="submit" class="bg-blue-500 text-white px-4 py-2">Add</button>
    </div>
  </form>
