---
import type { GuestList } from "@domain/Guest/model";

export interface Props {
	guests: GuestList;
}

const guests = Astro.props.guests;
---
  <div class="w-full overflow-x-auto">
    <table class="table-auto w-full mb-4">
      <thead>
        <tr>
          <th class="border px-4 py-2">Name</th>
          <th class="border px-4 py-2">Asistentes Esperados</th>
          <th class="border px-4 py-2">Asistentes Confirmados</th>
          <th class="border px-4 py-2">Alergias</th>
          <th class="border px-4 py-2">Autobus</th>
          <th class="border px-4 py-2">Num Asientos</th>
          <th class="border px-4 py-2">Parada</th>
          <th class="border px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {guests.map(guest => (
          <tr>
            <td class="border px-4 py-2">{guest.name}</td>
            <td class="border px-4 py-2">{guest.expectedAttendees}</td>
            <td class="border px-4 py-2">{guest.confirmedAttendees}</td>
            <td class="border px-4 py-2">{guest.allergies}</td>
            <td class="border px-4 py-2">{guest.bus ? "SI" : "NO"}</td>
            <td class="border px-4 py-2">{guest.busSeats}</td>
            <td class="border px-4 py-2">{guest.busStop}</td>
            <td class="border px-4 py-2 whitespace-nowrap">
              <a href="#" hx-delete={`/guests/api/delete/${guest.uuid}`} hx-target="#guest-list" class="text-red-500 mr-5">Delete</a>
              <a href={`/${guest.uuid}`} class="text-blue-500">Go</a>
            </td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>
