---
import imgLG from "../assets/florecitas-lg.webp";
import imgMD from "../assets/florecitas-md.webp";
import imgSM from "../assets/florecitas-sm.webp";
import imgXS from "../assets/florecitas-xs.webp";
---

<div class="relative bg-sky-950 w-full overflow-x-hidden">
  <picture>
    <source
      media="(max-width: 420px)"
      srcset={imgXS.src}
      width={imgXS.width}
      height={imgXS.height}
    />
    <source
      media="(max-width: 640px)"
      srcset={imgSM.src}
      width={imgSM.width}
      height={imgSM.height}
    />
    <source
      media="(max-width: 768px)"
      srcset={imgMD.src}
      width={imgMD.width}
      height={imgMD.height}
    />
    <img
      src={imgLG.src}
      width={imgLG.width}
      height={imgLG.height}
      alt=""
      style={{
        position: "absolute",
        top: 0,
        left: 0,
        zIndex: 0,
        height: "100%",
        width: "auto",
        minWidth: "100%",
        maxWidth: "none",
        opacity: 0.4,
      }}
    />
  </picture>
  <div
    class="relative z-1 py-10 flex flex-col justify-center items-center text-white"
  >
    <h1 class="text-sm mb-3 mt-[10%]">NOS CASAMOS</h1>
    <p class="text-[7.5rem] leading-none  pt-5 self-stretch text-center font-title animate-ltr">
      Rocío
    </p>
    <p class="text-6xl self-stretch text-center font-title">y</p>
    <p class="text-[7.5rem] leading-none self-stretch text-center font-title animate-rtl">
      Javier
    </p>
    <p class="text-sm mt-12">14 DE DICIEMBRE 2024</p>
    <p class="mt-20">Desliza hacia abajo</p>
    <div class="animate-bounce w-10 h-10 mt-8">
      <svg
        data-slot="icon"
        fill="none"
        stroke-width="1.5"
        stroke="#fff"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"></path>
      </svg>
    </div>
  </div>
</div>
