---
import frailesImgLG from "@components/../assets/hacienda-lg.webp";
import frailesImgMD from "@components/../assets/hacienda-md.webp";
import frailesImgSM from "@components/../assets/hacienda-sm.webp";
import frailesImg from "@components/../assets/hacienda.webp";
---
<div class="relative -top-9">
  <h2
    :class="shown ? 'translate-y-0 opacity-1' : 'opacity-0 translate-y-[100%]'"
    class="text-5xl font-hand mb-10 lg:mt-20 transition-all ease-in-out duration-700"
  >
    Dónde y Cuándo
  </h2>
  <div
    :class="shown ? 'opacity-1' : 'opacity-0'"
    class="image-container overflow-hidden transition-all ease-in-out duration-700"
  >
    <picture>
      <source srcset=`${frailesImgSM.src}` media="(max-width: 360px)" width=`${frailesImgSM.width}` height=`${frailesImgSM.height}` />
      <source srcset=`${frailesImgMD.src}` media="(max-width: 720px)" width=`${frailesImgMD.width}` height=`${frailesImgMD.height}` />
      <source srcset=`${frailesImgLG.src}` media="(max-width: 1600px)" width=`${frailesImgLG.width}` height=`${frailesImgLG.height}` />
      <img src=`${frailesImg.src}` alt="Hacienda Los Frailes de San Alberto" width=`${frailesImg.width}` height=`${frailesImg.height}` class="w-full max-w-xl object-cover rounded-t-md">
    </picture>
    <div
      class="bg-white border-b border-l border-r border-gray-300 rounded-b-md shadow-md p-10 mb-5 flex flex-col justify-center items-center"
    >
      <p class="text-4xl font-hand">Hacienda Los Frailes</p>
      <p class="text-4xl font-hand mb-3">de San Alberto.</p>
      <p class=" mb-3 text-center">12:00 PM</p>
      <a
        href="https://www.google.com/maps/place/Hacienda+los+Frailes+de+San+Alberto/@37.1979631,-5.9244053,15z/data=!4m2!3m1!1s0x0:0xddf4a405f884e20b?sa=X&ved=1t:2428&ictx=111"
        class=" text-blue-500 text-lg underline hover:text-blue-700 hover:cursor-pointer"
        >Ver Mapa</a
      >
    </div>
  </div>
</div>
